* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-size: 10px;
  color: black;
  font-family: 'Press Start 2P', cursive;
}

heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
heading img {
  width: 50%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .game-info {
  font-size: 1.5em;
  margin: 2em;
}

main .game-info h2 {
  display: none;
  color: white;
  text-transform: uppercase;
}

main .game-info .scores {
  background-color: #ee8d29;
  border-radius: 5%;
  padding: 2em;
}

#reset-highscore {
  font-size: 0.5em;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: darkblue;
  border-radius: 5%;
  margin: 0 5em;
  padding: 1em;
}

#reset-highscore:hover {
  background-color: blue;
  cursor: pointer;
}

main .game-info .lives {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.5em;
  padding: 2em 0;
  color: white;
}

main .game-info .lives img {
  width: 2em;
}
main .gameboard {
  margin: 0 2em;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gameboard div.tile {
  width: 5%;
  padding: 2.5% 0;
  /* background-color: green; */
  border: 1px solid transparent;
}


.gameboard div.tile.food {
  background-image: url(../images/food.png);
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
}

.gameboard div.tile.superfood {
  background-image: url(../images/superfood.png);
  background-size: 65%;
  background-position: center;
  background-repeat: no-repeat;
}

.gameboard div.tile.pacman {
  background-image: url(../images/pacman.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.gameboard div.tile.pacman[data-direction="-1"] {
  background-image: url(../images/pacman-left.png);
}

.gameboard div.tile.pacman[data-direction="1"] {
  background-image: url(../images/pacman-right.png);
}

.gameboard div.tile.pacman[data-direction="-20"] {
  background-image: url(../images/pacman-up.png);
}

.gameboard div.tile.pacman[data-direction="20"] {
  background-image: url(../images/pacman-down.png);
}

.gameboard div.tile.wall {
  background-color: darkblue;
}

.gameboard div.tile.blinky {
  background-image: url(../images/blinky.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.gameboard div.tile.ghost.pinky {
  background-image: url(../images/pinky.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.gameboard div.tile.ghost.inky {
  background-image: url(../images/inky.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.gameboard div.tile.ghost.clyde {
  background-image: url(../images/clyde.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.gameboard div.tile.ghost.blinky.blue,
.gameboard div.tile.ghost.inky.blue,
.gameboard div.tile.ghost.pinky.blue,
.gameboard div.tile.ghost.clyde.blue {
  background-image: url(../images/ghost-blue.gif);
}


.hidden {
  display:none;
}
