* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
}


.gameboard {
  margin: 0 auto;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gameboard div.tile {
  width: 5%;
  padding: 2.5% 0;
  /* background-color: green; */
  border: 1px solid transparent;
}


.gameboard div.tile.food {
  background-image: url(../images/food.png);
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
}

.gameboard div.tile.superfood {
  background-image: url(../images/superfood.png);
  background-size: 65%;
  background-position: center;
  background-repeat: no-repeat;
}

.gameboard div.tile.pacman {
  background-image: url(../images/pacman-right.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.gameboard div.tile.wall {
  background-color: darkblue;
}

.gameboard div.tile.blinky {
  background-image: url(../images/blinky.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.gameboard div.tile.ghost.pinky {
  background-image: url(../images/pinky.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.gameboard div.tile.ghost.inky {
  background-image: url(../images/inky.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.gameboard div.tile.ghost.clyde {
  background-image: url(../images/clyde.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.gameboard div.tile.ghost.blue {
  background-image: url(../images/ghost-blue.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
